<div style="display: block">
  <div class="question_block">
    <div class="question_tittle"><span class="question_text">{{question.question}}</span></div>
  </div>

  <div class="item_ending_time" *ngIf="!question.usersAnswers.answered && !question.status.includes('reverted')">
    <div>
      <div style="display: flex; width: 100%; white-space: pre; position: relative; left: -7px">
        <div style="position: absolute; left: 75px; color: #fff" *ngIf="!timeValidating(question)">
          ({{this.getValidatorsAmount(question)}}/{{getValidatorsAmountLeft(question)}})
        </div>
        <time class="event_date" [timer]="question?.endTime"></time>
      </div>
    </div>
  </div>

  <div class="join_event_button_user_made_bet"
       *ngIf="question.usersAnswers.answered && question.usersAnswers.from=='participant' ">

    <a [href]="'public_event/'+question?.id.toString()" target="_blank" *ngIf="question.status!=='finished' && !question.status.includes('reverted')"
       style="display: flex;align-items: center">
      <div class="hand_bet_img"></div>
      <div><span>{{question.usersAnswers?.betAmount.toString() + ' BET'}}</span></div>
    </a>

    <a [href]="'public_event/'+question?.id.toString()" target="_blank" *ngIf="question.status=='finished' && question.usersAnswers.answer==question.finalAnswer"
       style="display: flex;align-items: center">
      <div *ngIf="question.host.id==userData._id" style="margin-right: 15px"><span style="text-transform: none;color: #fff ;font-weight: 600;font-size: 10px;line-height: 14px;">You earn</span><span class="earned_value"> {{question.host.payHostAmount+ ' BET ' }}</span></div>

      <div><span style="text-transform: none;color: #fff ;font-weight: 600;font-size: 10px;line-height: 14px;">  You won</span><span > {{ question.usersAnswers?.payToken+question.usersAnswers?.mintedToken + ' BET'}}</span></div>
    </a>

    <a [href]="'public_event/'+question?.id.toString()" target="_blank" *ngIf="question.status=='finished' && question.usersAnswers.answer!==question.finalAnswer"
       style="display: flex;align-items: center">
      <div *ngIf="question.host.id==userData._id" style="margin-right: 15px"><span style="text-transform: none;color: #fff ;font-weight: 600;font-size: 10px;line-height: 14px;">You earn</span><span class="earned_value"> {{question.host.payHostAmount+ ' BET ' }}</span></div>

      <div><span style="text-transform: none;color: #fff ;font-weight: 600;font-size: 10px;line-height: 14px;">You lost</span><span style="color:#C10000;"> {{question.usersAnswers.betAmount + ' BET'}}</span></div>
    </a>
  </div>


  <div class="join_event_button_user_validator"
       *ngIf="question.usersAnswers.answered && question.usersAnswers.from=='validator' && !question.status.includes('reverted')">

    <a [href]="'public_event/'+question?.id.toString()" target="_blank" *ngIf="question.status!=='finished'"
       style="display: flex;align-items: center">
      <div class="validated_img"></div>
      <div><span>Validated  <span style="color: #fff">({{this.getValidatorsAmount(question)}}
        /{{getValidatorsAmountLeft(question)}})</span>
                </span></div>
    </a>

    <a [href]="'public_event/'+question?.id.toString()" target="_blank"
       *ngIf="question.status=='finished' && question.finalAnswer==question.usersAnswers.answer"
       style="display: flex;align-items: center">
      <div style="margin-right: 15px"><span style="text-transform: none;color: #fff ;font-weight: 600;font-size: 10px;line-height: 14px;">You earn</span><span class="earned_value_validator"> {{question.host.payHostAmount+ ' BET ' }}</span></div>

    </a>

    <a [href]="'public_event/'+question?.id.toString()" target="_blank"
       *ngIf="question.status=='finished' && question.finalAnswer!=question.usersAnswers.answer"
       style="display: flex;align-items: center">
      <div style="margin-right: 15px"><span style="text-transform: none;color: #fff ;font-weight: 600;font-size: 10px;line-height: 14px;">You were </span><span class="validator_wrong_answer" style="color: #C10000"> WRONG</span></div>

    </a>

  </div>

  <div *ngIf="question.finalAnswer !== null && !(question.finalAnswer==question.usersAnswers.answer || question.finalAnswer!=question.usersAnswers.answer)" >
    <p class="status_text">Ended on {{eventFinishDate(question)}}</p>
  </div>
  <div *ngIf="question.status.includes('reverted') && !question.finalAnswer">
    <p class="status_text" style="color: #fff">Cancelled on {{eventFinishDate(question)}}</p>
  </div>
</div>
