*
  margin: 0
  padding: 0
.open
  display: block

.closed
  display: none
#list li
  list-style-type: none
  padding-top: 0
  padding-bottom: 0

.level_1_item
 display: flex
 align-items: center
 justify-content: space-between
 width: 506px
 height: 40px
 background: #FFFBE7


.level_2_item
 display: flex
 align-items: center
 justify-content: space-between
 width: 90%
 flex: 1
 height: 40px
 background: #EAFFF4

.nickName
    display: block
    text-align: center
    height: 19px
    font-family: Open Sans sans-serif
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: #0B1511

.level_3_item
 display: flex
 align-items: center
 justify-content: space-between
 width: 100%
 height: 40px
 background: #F5F5F5



.plusMinusImageBlock
  display: flex
  //background-image: url("/referrals/plus.jpg")
  background-size: contain
  background-repeat: no-repeat
  height: 20px
  width: 20px

.ulItemLvl1
  position: relative
  width: 100%
  margin: 0
  padding: 0

.ulItemLvl2
  position: relative
  width: 100%
  margin: 0
  padding: 0

.level_1_block
  display: flex
  justify-content: flex-end

.level_2_block
  position: relative
  display: flex
  justify-content: flex-end
  width: 90%

.level_3_block
  position: relative
  display: flex
  justify-content: flex-end
  width: 95%

.betValueLvl1
  position: absolute
  display: flex
  align-items: center
  right: 140px

.imgMinus
  background: url("../../../../../assets/referrals/minusImg.png") center center no-repeat
  background-size: contain

.imgPlus
  background: url("../../../../../assets/referrals/plusImg.png") center center no-repeat
  background-size: contain

.plusMinusButton
  border: 0
  height: 15px
  width: 15px
  margin: 0 7px

.referral_avatar
  width: 17.7px
  height: 17.7px
  border-radius: 50%
  margin: 0 7px
  border: 1px solid #FFD300

.betValue

 font-family: Open Sans sans-serif
 font-style: normal
 font-weight: bold
 font-size: 14px
 line-height: 19px
 color: #0B1511

.referral_join_date_block
 display: block
 font-family: Open Sans sans-serif
 font-style: normal
 font-weight: normal
 font-size: 10px
 line-height: 14px
 color: #5C5C5C

.referral_join_date
 font-family: Open Sans sans-serif
 text-transform: uppercase
 font-style: normal
 font-weight: bold
 font-size: 10px
 line-height: 14px
 color: #5C5C5C
#list
  position: relative

