<div class="container">

  <div>
    <img *ngIf="!question.thumImage==='undefined'" class="item-logo" [src]="question?.thumImage" alt="">
    <div class="item-logo" [ngStyle]="colorForRoom(question.thumColor)">
      <div *ngIf="question.thumImage === 'undefined'" class="unloadedImgBlock">
        <div style="height: 50% ; width: 100% ;background: rgba(0, 0, 0, 0.5);" class="d_flex_alight_justify_center">
          <div class="unloadedImgContent">
            <span class="unloadedImgQuestion">{{question?.question}}</span>
          </div>
        </div>
      </div>
      <div class="item-info" [ngClass]="question.detailOpened?'d_none ':'d_block '">
        <div class="item-info_container" (click)="toggleDetailOpened()">
          <div style="display: block">
            <div class="question_block">
              <div class="question_tittle"><span class="question_text">{{question.question}}</span></div>
            </div>
            <div class="item_ending_time" *ngIf="!question.usersAnswers.answered">
              <div>
                <div style="display: flex; width: 100%; white-space: pre; position: relative; left: -7px">
                  <div style="position: absolute; left: 75px; color: #fff" *ngIf="!timeValidating(question)">
                    ({{this.getValidatorsAmount(question)}}/{{getValidatorsAmountLeft(question)}})
                  </div>
                  <time class="event_date" [timer]="question?.endTime"></time>
                </div>
              </div>
            </div>

            <div class="join_event_button_user_made_bet" *ngIf="question.usersAnswers.answered && question.usersAnswers.from=='participant'">
              <a [href]="'public_event/'+question?.room?.id.toString()" target="_blank"
                 style="display: flex;align-items: center">
                <div class="hand_bet_img"></div>
                <div><span>{{question.usersAnswers?.betAmount.toString() + ' BET'}}</span></div>
              </a>
            </div>

            <div class="join_event_button_user_validator" *ngIf="question.usersAnswers.answered && question.usersAnswers.from=='validator'">
              <a [href]="'public_event/'+question?.room?.id.toString()" target="_blank"
                 style="display: flex;align-items: center">
                <div class="validated_img"></div>
                <div><span>Validated  <span style="color: #fff">({{this.getValidatorsAmount(question)}}/{{getValidatorsAmountLeft(question)}})</span>
                </span></div>
              </a>
            </div>
          </div>
          <div class="item_open_button_up"></div>
        </div>
      </div>
      <div class="item-info_detail" [ngClass]="!question.detailOpened?'d_none':'d_block '">
        <div class="detail_question_block">
          <div style="padding: 19px 17px 13px 11px ;display: flex; align-items: center; width: 100%">
            <div class="detail_question_text"><span>{{question.question}}</span></div>
            <div>
              <div class="item_open_button_down" (click)="toggleDetailOpened()"></div>
            </div>
          </div>
        </div>
        <div class="detail_question_info">

          <app-question-options-block [question]="question"
                                      [userData]="userData"
                                      style="width: 100%">

          </app-question-options-block>
        </div>
        <div class="detail_hr"></div>
        <div class="down_side_block">
          <div style="display: flex ; flex: 1">
            <div class="host_info">
              <div class="avatar"><img [src]="question?.host?.avatat" alt="avatar">
                <div class="host_name"><span>{{question.host.nickName}}</span></div>
              </div>

            </div>
            <div class="host_info">
              <div class="avengers">
                <div class="avengers_img"></div>
                <div class="host_name"><span>Avengers ({{question?.room?.eventAmount}})</span></div>
              </div>

            </div>
          </div>

          <div class="join_event_button" *ngIf="!question.usersAnswers.answered && timeValidating(question) && question?.host.id != userData?._id">
            <a [href]="'public_event/'+question?.room?.id.toString()" target="_blank">
              <span>Join Now</span>
            </a>
          </div>

          <div class="join_event_button_user_made_bet" *ngIf="question.usersAnswers.answered && question.usersAnswers.from=='participant'">
            <a [href]="'public_event/'+question?.room?.id.toString()" target="_blank"
               class="d_flex_alight_justify_center">
              <div class="hand_bet_img"></div>
              <div><span>{{question?.usersAnswers?.betAmount.toString() + ' BET'}}</span></div>
            </a>
          </div>
          <div class="join_event_button_user_validator" *ngIf="question.usersAnswers.answered && question.usersAnswers.from=='validator'">
            <a [href]="'public_event/'+question?.room?.id.toString()" target="_blank">
              <div *ngIf="!timeValidating(question) && question?.host.id != userData?._id" class="validateNow"
                   style="display: flex;">
                VALIDATED
              </div>
              <div style="display: flex; justify-content: flex-end"> <span style="color: #fff"> ({{this.getValidatorsAmount(question)}}/{{getValidatorsAmountLeft(question)}})</span></div>
            </a>
          </div>

          <div *ngIf="!timeValidating(question) && question?.host.id != userData?._id && !question.usersAnswers.from && !question.status=='finished'" class="validateNow"
               style="display: flex;">
            VALIDATE NOW <div></div>
          </div>
          <div *ngIf="!timeValidating(question) && question?.host.id != userData?._id && !question.usersAnswers.from && question.status=='finished'" class="validateNow"
               style="display: flex; color: #fff">VIEW EVENT
          </div>
      </div>
    </div>
  </div>

</div>
</div>
