<div [formGroup]="form" style="margin: 0 16px">
  <button type="button" (click)="loaderImgOpen($event)" class="add disSetting" style="justify-content: space-between; width: 100%">
    <div class="disSetting">
      <div class="cloudImgWrap">
        <div class="cloudImg"></div>
      </div>
      <span class="addText">Add cover image</span>
    </div>
    <div *ngIf="loaderImg">
      <div class="trashRed" (click)="resetImgandColor()"></div>
    </div>
  </button>
  <div *ngIf="loaderImg" class="checkBoxPos" [ngStyle]="fileTooLarge && {'padding-bottom': '5px'}">

    <div (click)="generateGradient()" (change)="changeColorFunc()" class="pretty p-default p-round inline ">
      <input type="radio" value="color" formControlName="image">
      <div class="state checkPos p-success-o">
        <label> </label>
      </div>
      <div class="tab">
        <div class="word" [ngClass]="{ 'tab_active': f.image.value == 'color' }">Color</div>
        <div class="gradientPicker" [ngStyle]="{'background': eventColor}">
          <div class="disColumn">
            <div class="reloadImg"></div>
            <div class="TabToChange">Tap to change</div>
          </div>
        </div>
      </div>

    </div>
    <div (click)="loadImg()" class="pretty p-default p-round inline mr-0 prettyHover">
      <input type="radio" value="image" formControlName="image" checked>
      <div class="state p-success-o checkPos">
        <label id="l"> </label>
      </div>
      <div class="tab" [ngClass]="fileTooLarge && 'err-border'">

        <div class="word" [ngClass]="{ 'tab_active': f.image.value == 'image' }">Image</div>
        <div *ngIf="!previewUrlImg" class="gradientPicker">
          <label for="file" class="disColumn">
            <span class="preLoadImg"></span>
            <span class="TabToChange" style="color: #7d7d7d">Upload</span>
          </label>
        </div>
        <input #fileInput type="file" id="file" accept=".png, .jpg" (change)="changeImgLoad($event)">
        <div *ngIf="previewUrlImg" class="preview" [ngStyle]="{'background': 'url(' + previewUrlImg + ')center center no-repeat'}">
          <label *ngIf="previewUrlImg" for="file" class="disColumn pre-info-img">
            <span class="preLoadImg"></span>
            <span class="TabToChange" style="color: #7d7d7d">Upload</span>
          </label>
          <div *ngIf="previewUrlImg && file" class="preview-info">
            <span>{{file?.name}}</span>
            <span class="span2">{{formatBytes(file?.size, 2)}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
    <small style="padding-bottom: 10px" *ngIf="fileTooLarge"
           class="form-text quize_validation_error">Should be less than 5MB</small>
  </div>
</div>
