<div class="search_block">
  <div>
    <div class="search-img"></div>
    <input type="text"  name="searchWord" [(ngModel)]="searchWord" placeholder="What are you interested in?" aria-label="Username"
           aria-describedby="basic-addon1" (keyup)="letsFindEvent()">
    <div class="lines_3_img" (click)="openFilter()"></div>
  </div>
</div>
<div style="display: flex">
  <div class="d-flex">
    <div (click)="changesActiveBtn('trending')" class="text-disactive"
         [ngClass]="active === 'trending' && comingSoonType=='social' && 'text-active'">
      <span>Trending</span>
    </div>
    <div (click)="changesActiveBtn('controversial')" class="text-disactive"
         [ngClass]="active === 'controversial' && comingSoonType=='social' && 'text-active'">
      <span>Controversial</span>
    </div>
    <div (click)="changesActiveBtn('following')" class="text-disactive"
         [ngClass]="active === 'following' && comingSoonType=='social' && 'text-active'">
      <span>Following</span>
    </div>
    <div (click)="changesActiveBtn('pro')" class="text-disactive d-flex" [ngClass]="active === 'pro' && comingSoonType=='social' && 'text-active'">
      <div [ngClass]="active=== 'pro' ? 'baks-img_green' : 'baks-img'" class="baks-img"></div>
    </div>
  </div>
</div>
