<div class="payouts_container" *ngIf="userData != undefined && payouts">
  <div class="wrapper ">
    <div class="title_box">
      <div>
        <span class="title_name">my payouts </span>
        <!--      <span class="total_bet">{{payouts?.totalBet.toFixed(2)}} BET TOTAL,</span>-->
        <!--      <span class="last24h_bet">{{payouts?.totalBet24.toFixed(2)}} BET <span>LAST 24H</span></span>-->
        <span class="total_bet">{{payouts?.totalBet.toFixed(2)}} BET <span style="color: #0B1511">TOTAL</span>, </span>
        <span class="last24h_bet"><span class="last24h_bet_yellow">{{payouts?.totalBet24.toFixed(2)}} BET</span> <span> LAST 24H</span></span>
      </div>

    </div>
    <div class="events_table ">
      <div>
        <div class="table_header ">
          <div class="date_title ">
            <span>Date</span>
          </div>
          <div class="event_title ">
            <span>Event</span>
          </div>
          <div class="room_title ">
            <span>Room</span>
          </div>
          <div class="participant_title ">
            <span>Participant</span>
          </div>
          <div class="payout_title ">
            <span>Payout</span>
          </div>
        </div>


        <div *ngIf="payouts">
          <div class="event_item " *ngFor="let payout of payouts?.data">
            <div class="finish_time ">
            <span>{{payout?.finishTime * 1000 |date:'MMM d, y'}}
              ,<br><span class="finish_time_lighter">{{payout.finishTime * 1000 |date:'h:mm a'}}</span></span>

            </div>
            <div class="event_question ">
              <span>{{payout?.question}} </span>

            </div>
            <div class="event_room ">
              <div class="avengers_img"></div>
              <div class="avengers-text"><span>Avengers </span></div>

            </div>
            <div class="event_participant ">

              <span>{{payout?.allReferals}}({{myReferralsCalculate(payout)}})</span>

            </div>
            <div class="event_payout ">

              <span>32 BET</span>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <div class="arrow_left"></div>

      <div style="display: flex">
        <div *ngFor="let event of payouts.data; let i = index" class="page"
             [ngClass]="i+1===currentPage && 'page_bold'"
              (click)="goToPage(i+1)"
        >{{i + 1}}
        </div>
        <span *ngIf="payouts.eventsAmount>4|| true"> </span>
      </div>
      <div class="arrow_right"></div>

    </div>
  </div>
</div>
