.payouts_container
    margin-right: 4%

.title_box


.title_name

  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 22px
  text-transform: uppercase
  color: #0B1511

.total_bet
  color: #54DD96

.wrapper
  background: #FFFFFF

.table_header
  height: 63px
  background: #FFFBE7
  border: 0.5px solid #E8E8E8
  box-sizing: unset
  display: flex

.date_title
  min-width: 10%
  border-right: 0.5px solid #E8E8E8
  height: 100%
  display: flex
  flex: 1
  align-items: center
  padding-left: 16px
  box-sizing: unset
  span
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

.event_title
  min-width: 40%
  border-right: 0.5px solid #E8E8E8
  height: 100%
  display: flex
  flex: 1
  align-items: center
  padding-left: 16px
  box-sizing: unset
  span

    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

.room_title
  min-width: 20%
  border-right: 0.5px solid #E8E8E8
  height: 100%
  display: flex
  flex: 1
  align-items: center
  padding-left: 16px
  box-sizing: unset
  span

    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

.participant_title
  border-right: 0.5px solid #E8E8E8
  height: 100%
  display: flex
  flex: 1
  align-items: center
  padding-left: 16px
  box-sizing: unset
  span

    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

.payout_title
  height: 100%
  display: flex
  flex: 1
  align-items: center
  padding-left: 16px
  box-sizing: unset
  span
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

.event_item
  display: flex
  min-width: 100%
  min-height: 76px

.finish_time
  min-width: 10%
  border-bottom: 0.5px solid #E8E8E8
  border-left: 0.5px solid #E8E8E8
  border-right: 0.5px solid #E8E8E8

  display: flex
  flex: 1
  align-items: center
  padding-left: 15.5px
  box-sizing: unset
  span
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

.event_question
  min-width: 40%
  border-bottom: 0.5px solid #E8E8E8
  border-right: 0.5px solid #E8E8E8

  display: flex
  flex: 1
  align-items: center
  padding-left: 16px
  box-sizing: unset
  span

    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: left
    color: #0B1511

.event_room
  min-width: 20%
  border-bottom: 0.5px solid #E8E8E8
  border-right: 0.5px solid #E8E8E8
  display: flex
  flex: 1
  align-items: center
  padding-left: 16px
  box-sizing: unset
  span

    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

.event_participant
  border-bottom: 0.5px solid #E8E8E8
  border-right: 0.5px solid #E8E8E8

  display: flex
  flex: 1
  align-items: center
  padding-left: 16px
  box-sizing: unset
  span

    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

.event_payout

  border-bottom: 0.5px solid #E8E8E8
  border-right: 0.5px solid #E8E8E8
  padding-left: 16px
  box-sizing: unset
  display: flex
  flex: 1
  align-items: center
  span
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #0B1511

@media screen and (max-width: 1020px)
  .payouts_container
    margin-left: 5%
  .event_question
    min-width: 36%
  .event_title
    min-width: 36%

.avengers_img
  background-image: url("../../../../assets/mobileJoinPage/avengers.png")
  width: 24px
  height: 24px
  background-size: contain
