<div class="container">
  <div class="box">
    <div class="slideBar">
      <div class="navigation">
        <div class="navItem">
          <div>
            <div>
              <div class="social-img"></div>
            </div>
            <span>Social</span>
          </div>
        </div>
        <div class="navItem">
          <div>
            <div>
              <div class="moments-img"></div>
            </div>
            <span>Moments</span>
          </div>
        </div>
        <div class="navItem">
          <div>
            <div>
              <div class="live-img"></div>
            </div>
            <span>Live</span>
          </div>
        </div>

      </div>
    </div>
    <nav>

     <app-search-bar-mobile (activeItemEmit)="activeBtnFromSearchBar($event)"
                            (searchWordEmit)="letsFindNewQuestion($event)"
                            [allAmountEvents] = pureData?.allAmountEvents
                            [amount] = pureData?.amount
                            (timelineActive)="openTimeline($event)"
                            [active] = activeBtn>

     </app-search-bar-mobile>
    </nav>
    <div class="search-results" infiniteScroll
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScrollQuizTemplate()"
         [ngClass]="(activeBtn==='pro' || newQuestions.length === 0) && 'w-100'">
      <main>
        <div *ngIf="spinner" style="margin: 50% auto">
          <app-spinner-loading class="lds-ripple" [desktop]="true"></app-spinner-loading>
        </div>
        <div *ngIf="!spinner">
          <div *ngFor="let question of newQuestions; let index = index">
            <app-join-page-item-template
              [index]="index"
              [userData]="userData"
              [question]="question"
              [fromComponent]="fromComponent"
            ></app-join-page-item-template>
          </div>
        </div>

        <div style="padding: 5% 0; position: relative">
          <spinner-load-more [finishLoading]="finishLoading"
                             *ngIf="!spinner && activeBtn != 'pro' && pureData?.events.length != 0"></spinner-load-more>
        </div>
      </main>
    </div>

  </div>
</div>
