<div class="container">
  <div class="box">
    <div class="slideBar">
      <div class="navigation">
        <div class="navItem">
          <div>
            <div>
              <div class="social-img"></div>
            </div>
            <span>Social</span>
          </div>
        </div>
        <div class="navItem">
          <div>
            <div>
              <div class="moments-img"></div>
            </div>
            <span>Moments</span>
          </div>
        </div>
        <div class="navItem">
          <div>
            <div>
              <div class="live-img"></div>
            </div>
            <span>Live</span>
          </div>
        </div>

      </div>
    </div>
    <nav>

     <app-search-bar-mobile (activeItemEmit)="activeBtnFromSearchBar($event)"
                            (searchWordEmit)="letsFindNewQuestion($event)"
                            [allAmountEvents] = pureData?.allAmountEvents
                            [amount] = pureData?.amount
                            (timelineActive)="openTimeline($event)"
                            [active] = activeBtn>

     </app-search-bar-mobile>
      <!--      <div class="d_flex_alight_justify_center">-->
      <!--        <div class="d-flex">-->
      <!--          <div (click)="changesActiveBtn('trending')" class="text-disactive" [ngClass]="active === 'trending' && 'text-active'">-->
      <!--            <span>Trending</span>-->
      <!--          </div>-->
      <!--          <div (click)="changesActiveBtn('controversial')" class="text-disactive" [ngClass]="active === 'controversial' && 'text-active'">-->
      <!--            <span>Controversial</span>-->
      <!--          </div>-->
      <!--          <div (click)="changesActiveBtn('following')" class="text-disactive" [ngClass]="active === 'following' && 'text-active'">-->
      <!--            <span>Following</span>-->
      <!--          </div>-->
      <!--          <div (click)="changesActiveBtn('pro')" class="text-disactive d-flex" [ngClass]="active === 'pro' && 'text-active'">-->
      <!--            <div [ngClass]="active=== 'pro' ? 'baksGreen-img' : 'baks-img'" class="baks-img"></div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </nav>
    <main>
      <div *ngIf="spinner" style="padding-top: 20%">
        <app-spinner-loading class="lds-ripple" [desktop]="true"></app-spinner-loading>
      </div>
      <div *ngIf="!spinner">
        <div *ngFor="let question of newQuestions; let index = index">
          <app-join-page-item-template
            [index]="index"
            [userData]="userData"
            [question]="question"
            [fromComponent]="fromComponent"
          ></app-join-page-item-template>
        </div>
      </div>
      <div style="padding: 5% 0">
        <spinner-load-more [finishLoading]="finishLoading"
                           *ngIf="!spinner && activeBtn != 'pro' && pureData?.events.length != 0"></spinner-load-more>
      </div>
    </main>

  </div>
</div>
